<div id="main">
    <% if logged_in? %>
    <%= will_paginate @employees %>
    <table id="employees">
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Age</th>
            <th>Start date (in days)</th>
            <th>Day offs count</th>
            <th>Is Boss</th>
        </tr>
        <% @employees.each do |employee| %>
            <tr>
                <th><%= link_to employee.firstname, employee_path(employee) %></th>
                <th><%= employee.lastname %></th>
                <th><%= employee.age %></th>
                <th><%= employee.days %></th>
                <th><%= employee.daysoff %></th>
                <th><%= employee.isboss %></th>
                <th><%= link_to "Szerkesztés", edit_employee_path(employee) %></th>
                <th><%= link_to "Törlés", employee_path(employee), method: :delete %></th>
            </tr>
        <% end %>
    </table>
    <% end %>
</div>