<h1><%= @employee.firstname %> <%= @employee.lastname %> nevű alkalmazott adatlapja</h1>

<div>
    <div>Életkor: <%= @employee.age %></div>
    <div><%= @employee.days %> nap telt el amióta belépett a cégbe.</div>
    <div><%= @employee.daysoff %> szabadnapja van még az évben.</div>
    <div>És ő főnök? <%= @employee.isboss %>
</div>