<!DOCTYPE html>
<html>
  <head>
    <title>HazifeladatNmnbxt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="header">
    <div id="head">
      Alkalmazott nyilvántartó alkalmazás
    </div>
    <div id="menu-container">
      <ul id="menu">
        <li id="menuitem">
        <%= link_to "Kezdőlap", '/' %>
        </li>
        <li id="menuitem">
          <%= link_to "Új alkalmazott hozzáadása", '/employees/new' %>
        </li>
        <li id="menuitem">
          <%= link_to "Statisztika", '/statistics' %>
        </li>
      </ul>
    </div>
  </div>
  <div id="content">
    <%= yield %>
  </div>
  <div id="footer">
    Neptunkód: NMNBXT, RoR 2021
  </div>
  </body>
</html>
