<!DOCTYPE html>
<html>
  <head>
    <title>HazifeladatNmnbxt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if logged_in? %>
  <div id="content">
    <%= render '/layouts/loggedin' %>
  </div>
  <% else %>
    <%= render '/layouts/guest' %>
  <% end %>
  <div id="footer">
    Neptunkód: NMNBXT, RoR 2021
  </div>
  </body>
</html>
